body{
    background: url(bg.jpg) no-repeat;
    background-size: cover;
}
.pop-layer{
position: absolute;
top:0;
right:0;
bottom:0;
left:0;
display: flex;
-webkit-display: flex;
justify-content: center;
-webkit-justify-content: center;
align-items: center;
-webkit-align-items: center;
}	
.bg-black{
background: #000;
}
.icon-car{
height: 50px;
width: 120px;
display: block;
background:url(icon-car.svg) no-repeat;
background-size: contain;
transform: rotateY(180deg);
-webkit-transform: rotateY(180deg);
margin:40px 0 0 -50px;
animation : turnCar 1s infinite;
-webkit-animation : turnCar 1s infinite;
animation-timing-function : ease-in-out;
-webkit-animation-timing-function : ease-in-out;
}
@-webkit-keyframes turnCar {
  0% {-webkit-transform:translateY(0px) rotateY(180deg);}
  100% {-webkit-transform:translateY(2px) rotateY(180deg);}
}

@keyframes turnCar {
0% {-webkit-transform:translateY(0px) rotateY(180deg);}
  100% {-webkit-transform:translateY(2px) rotateY(180deg);}
}
/* 显示的外边框 */
#caseViolette {
background-color : #592780;
width : 300px;
position : relative;
  display: flex;
-webkit-display: flex;
justify-content: center;
-webkit-justify-content: center;
align-items: flex-start;
-webkit-align-items: flex-start;
flex-wrap: wrap;
-webkit-flex-wrap: wrap;
}
/* 文字 */
#caseViolette #load {
color : #D8A6FF;
font-family : calibri;
text-align : center;
width:100%;
display:block;
margin-top:-10px;
}
#caseViolette #load p{
margin:0;
padding:15px 0;
display: inline-block;
font-size:12px;
}
/****DEBUT CERCLE****/
.cercle,.cercle1 {
height : 20px;
width : 20px;
position : absolute;
top : 60px;
left : 75px;
border-radius : 50%;
background : linear-gradient(#999999,#FFECEE);
animation : turnCercle 2s infinite;
-webkit-animation : turnCercle 5s infinite;
animation-timing-function : ease-in-out;
-webkit-animation-timing-function : ease-in-out;
}
.cercle1{
top : 60px;
  left : 150px;
}

@-webkit-keyframes turnCercle {
0% {-webkit-transform : rotate(0deg);}
100% {-webkit-transform : rotate(100080deg);}
}

@keyframes turnCercle {
0% {transform : rotate(0deg);}
100% {transform : rotate(100080deg);}
}

.cercleCache {
margin : 5px;
height : 10px;
width : 10px;
position : absolute;
border-radius : 50%;
background-color : #592780;
z-index : 5;
}
/****FIN CERCLE****/
/****DEBUT BOULE****/
.boule,.boule1,.boule2 {
height : 0px;
width : 0px;
position : absolute;
top : 60px;
background-color : #ffffff;
border-radius : 50%;
animation : boule 3s infinite;
-webkit-animation : boule 3s infinite;
}
.boule1 {
animation : boule 3s infinite;
-webkit-animation : boule 3s infinite;
animation-delay:1s;
-webkit-animation-delay:1s; /* Safari 和 Chrome */
}
.boule2 {
animation : boule 3s infinite;
-webkit-animation : boule 3s infinite;
animation-delay:2s;
-webkit-animation-delay:2s; /* Safari 和 Chrome */
}

@keyframes boule {
0% {left : 180px;opacity : 0;}
50% {height : 10px; width : 10px; opacity : 1;}
100% {left : 250px; opacity : 0;height : 10px; width : 10px; }
}

@-webkit-keyframes boule {
0% {left : 180px;opacity : 0;}
50% {height : 10px; width : 10px; opacity : 1;}
100% {left : 250px; opacity : 0;height : 10px; width : 10px; }
}
/****FIN BOULE****/
/****DEBUT POINT****/
#point {
height : 5px;
width : 5px;
display: inline-block;
margin-left:5px;
border-radius : 50%;
background-color : #D8A6FF;
animation : point 1.5s infinite;
-webkit-animation : point 1.5s infinite;
animation-timing-function : linear;
-webkit-animation-timing-function : linear;
}

@-webkit-keyframes point {
0% {left : 96px; opacity : 0;}
5% {left : 96px; opacity : 1;}
15% {left : 96px; opacity : 0;}
30% {left : 99px; opacity : 0;}
45% {left : 99px; opacity : 1;}
60% {left : 99px; opacity : 0;}
75% {left : 102px; opacity : 0;}
90% {left : 102px; opacity : 1;}
100% {left : 102px; opacity : 0;}
}

@keyframes point {
0% {left : 96px; opacity : 0;}
5% {left : 96px; opacity : 1;}
15% {left : 96px; opacity : 0;}
30% {left : 99px; opacity : 0;}
45% {left : 99px; opacity : 1;}
60% {left : 99px; opacity : 0;}
75% {left : 102px; opacity : 0;}
90% {left : 102px; opacity : 1;}
100% {left : 102px; opacity : 0;}
}
/****FIN POINT****/
.opacity-div{
position: absolute;
top:0;
right:0;
bottom:0;
left:0;
opacity:.8;
z-index: -1;
text-indent: -9999em;
}